.main-container {
  background-color: #45a29e;
}

/* SIDEBAR STYLING */
.sidebar {
  background-color: #1f2833;
  height: 100vh;
  overflow: auto;
  width: 200px;
}

.heading {
  padding-left: 0;
}

.continents {
  font-size: 20px;
}

.list-content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1f2833;
  padding-left: 0;
  font-size: 17px;
}

.list-content:hover {
  cursor: pointer;
}

.link {
  color: #66fcf1;
}

.link:hover {
  text-decoration: none;
  color: #c5c6c7;
}

.list-group-item {
  border: 0;
}

/* MAIN STYLING */
.main {
  padding: 0;
  height: 100%;
}

.table-scroll {
  height: 100vh;
  overflow-y: scroll;
}

.country-data td {
  padding: 20px;
}

.mr-auto {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: #45a29e;
}

@media only screen and (min-width: 1200px) {
  .navbar-brand {
    font-size: 25px;
  }

  .link {
    font-size: 20px;
  }

  .country-data th{
    font-size: 20px;
  }

  .country-data td {
    font-size: 20px;
  }
}

@media only screen and (max-width: 990px) {
  .sidebar {
    height: 150px;
  }

  .continents {
    display: table;
    width: 100%;
    text-align: center;
  }

  .list-content {
    display: inline;
  }

  .link {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 770px) {
  .link {
    padding: 0;
    font-size: 14px;
  }

  .country-data th{
    font-size: 13px;
  }

  .country-data td {
    font-size: 13px;
  }
}

@media only screen and (max-width: 630px) {
  .sidebar {
    height: 170px;
  }

  .navbar-brand {
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  .form-inline .form-control {
    width: 100%;
  }

  form {
    margin: 15px 0;
    width: 100%;
  }

  .mr-auto {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .link {
    font-size: 14px;
  }
}
